.body_page {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.container_page {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}
.header_navigation::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  transform: translateZ(-1px) scale(2.1);
  background-repeat: no-repeat;
  background-image: url(../img/Bag_City.jpg);
}
.header_navigation {
  padding-top: 20px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
}

.liner_container {
  display: flex;
  flex-direction: row;
}

.liner_left {
  border-right: 50vw solid transparent;
  border-bottom: 120px solid rgb(255, 255, 255);
}

.liner_right {
  border-left: 50vw solid transparent;
  border-bottom: 120px solid rgb(255, 255, 255);
}
.liner_one {
  border-right: 50vw solid transparent;
  border-bottom: 120px solid rgb(255, 255, 255);
  transform: rotateX(180deg) rotateY(180deg);
}

.liner_two {
  border-left: 50vw solid transparent;
  border-bottom: 120px solid rgb(255, 255, 255);
  transform: rotateX(180deg) rotateY(180deg);
}

.container {
  width: 996px;
  margin-right: auto;
  margin-left: auto;
}

.company_text {
  font-size: 52px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding-top: 145px;
  padding-bottom: 54px;
  margin-top: 0;
  margin-bottom: 0;
}

.section_header {
  padding-top: 25px;
}
.logo {
  position: relative;
  z-index: 3;
  height: 113px;
  display: flex;
  justify-content: center;
  background: #ffffff;
}
.logo_link {
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  color: #424f57;
  text-decoration: none;
  margin-top: 40px;
  margin-right: 190px;
  height: 30px;
}
.logo_link_color {
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  color: #14afca;
}
.navigation {
  padding-top: 52px;
}
.navigation_header {
  padding: 0;
  margin: 0;
  display: flex;
}
.navigation_item {
  list-style-type: none;
}
.nav_item_link {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #424f57;
  margin-left: 50px;
}
.nav_item_link:hover {
  color: #14b9d5;
  border-bottom: 1px solid #14afca;
  transition: all ease 0.3s;
  transition: all ease 0.3s;
  transition: all ease 0.3s;
  padding-bottom: 10px;
}
.hero_title {
  font-family: FuturaBT;
  font-size: 52px;
  line-height: 75px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 149px;
  padding-bottom: 134px;
  width: 996px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 3;
}
.color_title {
  color: #14afca;
}
.section_title {
  font-size: 60px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.section_subtitle,
.section_discription,
.employees-section-subtitile,
.why-section-subtitile {
  color: rgb(66, 79, 87);
  text-align: center;
}

.main-content {
  margin-top: 112px;
}

.section_what {
  position: relative;
  padding-bottom: 90px;
  padding-top: 112px;
}

.section_discription {
  line-height: 30px;
}

.partners-section {
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.partners-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  transform: translateZ(-1px) scale(2.1);
  background-repeat: no-repeat;
  background-image: url(../img/bgParallax.jpg);
}

.partners-section .section-title {
  padding-top: 60px;
  margin-bottom: 0;
}

.partners-section-subtitle,
.testimonials-section-subtitile {
  font-weight: 600;
  font-size: 18px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.899999px;
  color: rgb(255, 255, 255);
  margin-top: 0;
}

.partners-list {
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
.partners-list-item {
  list-style: none;
}
.partners-list-item-link {
  text-decoration: none;
}

.adobe-company-wrapper {
  width: 225px;
  height: 99px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  background: rgb(255, 255, 255);
}

.adobe-company-logo {
  font-weight: 900;
  color: rgb(0, 0, 0);
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.adobe-company-wrapper .partners-list-item-image {
  padding-left: 16px;
  box-sizing: content-box;
}

.employees-section {
  position: relative;
  margin-top: 164px;
  padding-bottom: 128px;
}

.employees-list {
  display: grid;
  grid-auto-flow: column;
  padding-left: 0;
  margin-top: 40px;
}

.employees-list-item-link {
  display: grid;
  grid-auto-columns: 309px;
  column-gap: 58px;
}

.employees-list-item-description,
.employees-list-item-image {
  justify-self: center;
}

.employees-list-item-description {
  font-family: "Roboto Regular", sans-serif;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: rgb(66, 79, 87);
}
.employees-list {
  list-style: none;
}
.employees-list-item-link {
  text-decoration: none;
}

.testimonials-section {
  position: relative;
  overflow: hidden;
  margin-bottom: 153px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.testimonials-section .section-title {
  padding-top: 112px;
  margin-bottom: 0;
}

.testimonials-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  transform: translateZ(-1px) scale(2.1);
  background-repeat: no-repeat;
  background-image: url(../img/bgParallax.jpg);
}

.testimonials-section-feedback {
  font-family: "Open Sans Regular";
  font-style: italic;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.8px;
  color: rgb(211, 204, 204);
}

.testimonials-section-feedback-username {
  font-family: "Open Sans Semibold";
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: end;
  padding-right: 150px;
  padding-bottom: 63px;
  letter-spacing: 0.45px;
  color: rgb(255, 255, 255);
}

.why-section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.why-section-list-item {
  font-family: "Roboto Bold";
  justify-self: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.75px;
  color: rgb(66, 79, 87);
}
.why-section-list {
  list-style: none;
}

.why-section-list-item:nth-child(n) {
  padding-right: 20px;
}

.page-footer {
  font-family: "Open Sans Semibold";
  margin-top: 96px;
  padding-bottom: 88px;
}

.footer-info,
.footer-designer-name {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.7px;
  color: rgb(61, 60, 60);
}

.footer-designer-name span {
  font-weight: bold;
}
