.page_body {
  width: 100%;
  height: 100%;
  font-family: "Lato" sans-serif;
  font-weight: 700;
  color: #ffd700;
  background-color: #000;
  overflow: hidden;
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -50%;
  font-size: 70px;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(20deg);
  animation-iteration-count: infinite;
}
.wrapper:after {
  position: absolute;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
  pointer-events: none;
}
.wrapper .text_discription {
  text-align: center;
  margin: 30px 0;
}
.wrapper .wrapper_title {
  text-align: center;
}
.wrapper_text {
  position: absolute;
  top: 100%;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -10%;
  }
}
