*,
*::after,
*::before {
    box-sizing: border-box;
}
html,
body,
ul{
    margin: 0;
    padding: 0;
}
ul>li{
    @extend %list-reset;
}
a{
    @extend %link-reset;
}

h1,
h2,
h3,
h4,
h5,
h6{
    @extend %title-reset;
}