%list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}
%link-reset{
    text-decoration: none;
    color: inherit;
}

%title-reset {
    padding: 0;
    margin: 0;
}
%title-section{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E;
}
%fonts-bold{
    font-style: normal;
    font-weight: 700;
}
%fonts-normal{
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}
%rss{
    border: 2px solid #39599F;
    border-radius: 40px;
    padding: 12px 12px;
    margin-right: 6px;
}
%face{
    border: 2px solid #39599F;
    border-radius: 40px;
    padding: 11px 15px;
    margin-right: 6px;
}
%twiter{
    border: 2px solid #45B0E3;
    border-radius: 30px;
    padding: 11px 13px;
    margin-right: 6px;
}
%dribbble{
    border: 2px solid #D97AB0;
    border-radius: 30px;
    padding: 11px;
    margin-right: 6px;
}
%pinterest{
    border: 2px solid #CC212C;
    border-radius: 30px;
    padding: 11px;
}