.footer{
    background: $color-black;
    padding-bottom: 70px;
    &__container{
        max-width: 1200px;
        margin: 0 auto;
    }
    &__content-section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__title{
        @extend %fonts-bold;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        color: $color-white;
        padding-top: 66px;
    }
    &__social{
        &--rss{
            @extend %rss;
        }
        &--face{
            @extend %face;
        }
        &--twiter{
            @extend %twiter;
        }
        &--dribbble{
            @extend %dribbble;
        }
        &--pinterest{
            @extend %pinterest;
        }
    }
    &__content{
        @extend %fonts-normal;
        font-size: 16px;
        color: $color-gray;
        margin: 0;
        padding-top: 22px;
        padding-bottom: 30px;
        max-width: 100%;
        text-align: center;
        max-width: 684px;
    }
    &__contacts{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $color-gray;
        margin: 0;
        padding-top: 35px;
        display: flex;
        @media screen and (max-width: 576px) and (min-width: 320px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__contacts-item{
        &:not(:last-child){
            margin-right: 10px;
        }
    }
}