.header{
    @media screen and (max-width: 640px) {
        display: flex;
        justify-content: end;
    }
    &__menu-list{
        display: flex;
        justify-content: center;
        padding: 41px 0 43px 0;
        @media screen and (max-width: 640px) {
            // display: none;
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    }
    &__menu-item{
        @extend %fonts-normal;
        font-size: 11px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: $color-text;
        &:hover{
            color: $color-blue;
        }
        &:not(:last-child){
            padding-right: 34px;
        }
        @media (max-width: 768px) {
            font-size: 10px;
            &:not(:last-child){
                padding-right: 20px;
            }
        }
        @media screen and (max-width: 640px) {
            &:not(:last-child){
                padding-right: 0;
            }
            &:hover {
                background-color: $color-overlay;
            }
        }
    }
    @media screen and (max-width: 640px) {
        &__menu{
            z-index: 1;
            min-width: 182px;
            min-height: 208px;
            position: absolute;
            visibility: hidden;
            padding-top: 5px;
            transition: all 0.3s ease-in-out;
            &.overlay{
                visibility: visible;
                background: $color-overlay;
                margin-top: 60px;
            }
            .header__menu-link{
                font-weight: 400;
                font-size: 11px;
                line-height: 22px;
                display: block;
                margin-bottom: 8px;
                margin-left: 13px;
            }
        }
    }
    
}
.header__menu-burger{
    cursor: pointer;
    height: 37px;
    width: 44px;
    overflow: visible;
    display: none;
    position: relative;
    background-color: $color-black;
    margin: 23px 0;
    &.close{
        .header__menu-burger--span{
            top: 20px;
            transform: rotate(45deg);
            width: 17px;
        }
    }
    &.close{
        .header__menu-burger--span::after{
            top: 0;
            right: 20px;
            transform: rotate(90deg);
        }
    
    }
    &.close{
        .header__menu-burger--span::before{
            display: none;
        }
    }
    
    
    
    @media screen and (max-width: 640px) {
        display: block;
    }
    .header__menu-burger--span,
    .header__menu-burger--span::before,
    .header__menu-burger--span::after{
        background: $color-white;
        display: block;
        height: 2px;
        opacity: 1;
        position: absolute;
        transition: 0.3s ease-in-out;
    }
    .header__menu-burger--span::before,
    .header__menu-burger--span::after{
        content: '';
    }
    .header__menu-burger--span{
        top: 17px;
        right: 13px;
        width: 17px;
    }
    .header__menu-burger--span::before{
        left: 0px;
        top: -7px;
        width: 17px;
    }
    .header__menu-burger--span::after{
        left: 0px;
        top: 7px;
        width: 17px;
    }
}
.active{
    color: $color-blue;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width: 1200px) {
        width: 100%;
        padding: 0 15px;
    }
}