.section{
    &__img{
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    &__wrapper{
        padding-top: 65px;
    }
    &__post-container{
        padding-top: 25px;
    }
    &__post-title{
        @extend %title-section
    }
    &__post-grid{
        display: flex;
            @media screen and (min-width: 320px) and (max-width: 385px){
                display: flex;
                flex-direction: column;
            }
    }
    &__post-cell{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 32px;
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }
    &__post-content{
        padding-left: 20px;
        @media screen and (min-width: 320px) and (max-width: 385px){
           padding: 0;
        }
        &--title{
            @extend %fonts-bold;
            font-size: 16px;
            line-height: 30px;
            color: $color-text;
            @media screen and (min-width: 768px) and (max-width: 901px) {
                font-size: 14px;
            }
            @media screen and (max-width: 840px) {
                font-size: 11px;
            }
        }
    }
    &__post-comments{
        @extend %fonts-normal;
        font-size: 12px;
        color: #7C7C7C;
    }
    &__post-description{
        @extend %fonts-normal;
        font-size: 14px;
        color: #5C5C5C;
        margin: 0;
        padding-top: 10px;
        @media screen and (max-width: 840px) {
            font-size: 11px;
        }
        @media screen and (min-width: 320px) and (max-width: 385px) {
            display: none;
        }
    }
}

.instagram{
    background: $color-gray;
    margin-top: 70px;
    &__title-container{
        display: flex;
        justify-content: space-between;
        padding-top: 47px;
    }
    &__title{
        @extend %title-section;
        &:nth-last-child(1){
            @media screen and (max-width: 540px) and (min-width: 320px) {
                display: none;
            }
        }
        
    }
    &__images-section{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 25px;
        padding-bottom: 50px;
    }
    &__images-item{
        &:not(:last-child){
            padding-right: 10px;
        }
        &:nth-last-child(1){
            @media (max-width: 768px) {
                display: none;
            }
        }
        &:nth-last-child(2){
            @media screen and (max-width: 540px) and (min-width: 320px) {
                display: none;
            }
        }
        &:nth-last-child(3){
            @media screen and (max-width: 540px) and (min-width: 320px) {
                display: none;
            }
        }
    }
    &__images{
        max-width: 100%;
        display: block;
    }
}