*,
*::after,
*::before {
  font-family: "Roboto", sans-serif;
}
.page_body {
  display: flex;
  justify-content: center;
  background-image: url(../img/background.jpg);
}
.container {
  margin-left: auto;
  margin-right: auto;
}

.milan-holidays {
  width: 1030px;
  height: 60px;
  border: 1 solid #fff;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.logo-company {
  margin: 0;
  list-style: none;
  padding: 0;
}
.logo-milan {
  margin: 0;
}
.logo-link {
  text-decoration: none;
  position: relative;
}
.logo_wrapper:hover {
  background-image: url(../img/logo\ 2.svg);
}
.logo_wrapper:hover .img_logo {
  opacity: -1;
}
.logo_wrapper:hover .logo_title {
  color: #f26522;
}
.name-company-milan {
  margin: 0 0 0 8px;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  align-items: center;
  color: #ffffff;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50px;
}
.name-company-holidays {
  margin: 0 0 0 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  height: 21px;
  position: absolute;
  top: 30px;
  left: 50px;
}
.contact_company {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.contact-mail {
  padding-bottom: 20px;
}
.mail,
.telephone {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: end;
}
.telephone:hover {
  color: #f26522;
}
.mail:hover {
  color: #f26522;
}
.content {
  margin-left: auto;
  margin-right: auto;
}
.content-tours {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 255px;
  gap: 35px 60px;
  margin-top: 15px;
  width: 1030px;
}
.content_item {
  position: relative;
  overflow: hidden;
}
.price {
  position: absolute;
  width: 297px;
  height: 55px;
  left: 2px;
  bottom: -55px;
  background: #f26522;
  transition: 0.5s ease-in;
}
.item_wrapper {
  overflow: hidden;
  position: relative;
  height: 213px;
}

.content_item:hover .price {
  display: block;
  bottom: 1px;
}
.content_item:hover .title_text {
  color: #f26522;
}

.price::before {
  content: ">";
  color: #fff;
  position: absolute;
  right: 16px;
  bottom: 9px;
}
.price_euro {
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding-top: 8px;
  padding-left: 16px;
  width: 40px;
}
.price_details {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  padding-right: 37px;
  right: 0;
  bottom: 12px;
  position: absolute;
}
.price_from {
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  padding-top: 7px;
  padding-left: 16px;
  margin: 0;
}
.title_text {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.box_link {
  text-decoration: none;
}
.text-copyright {
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}
.footer_copyright {
  margin-top: 50px;
}
.footer-link {
  text-decoration: none;
}
