.page_body {
  background-image: url(../img/background_1.jpg);
  font-family: "Ubuntu", sans-serif;
}
.header_nav {
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
}
.logo_text {
  width: 157px;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  align-items: center;
  color: #ffffff;
  margin: 0;
  padding: 18px 0 18px 79px;
}
.logo_link {
  text-decoration: none;
}
.logo_text:hover {
  color: #3cb878;
}

.headers_icons {
  position: absolute;
  top: 0;
  right: 308px;
  padding-top: 17px;
}
.icons:hover {
  filter: invert(59%) sepia(55%) saturate(476%) hue-rotate(96deg)
    brightness(94%) contrast(87%);
}
.border {
  border-left: 1px solid #fff;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 282px;
}
.header_registration {
  padding-right: 79px;
}
.header_text {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin: 0;
  padding-top: 18px;
}
.link_icons {
  text-decoration: none;
  margin-left: 25px;
}
.registration_link {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-decoration: none;
}
.registration_link:hover {
  color: #3cb878;
}

.form {
  width: 444px;
  height: 584px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  position: relative;
  margin: 54px auto 74px auto;
}
.form_header {
  display: flex;
  justify-content: space-between;
}
.shape {
  border-radius: 1px solid #3cb878;
  height: 18px;
  width: 18px;
  background-color: #3cb878;
  position: absolute;
  left: 0;
  top: 29px;
}
.form_title {
  margin: 0;
  padding: 28px 0 0 61px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #434343;
}

.form_log_in {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  padding: 33px 59px 0 0;
}
.form_log_in_link {
  text-decoration: none;
  color: #3cb878;
}
.form_log_in_link:hover {
  border-bottom: 1px solid #01813f;
  color: #01813f;
  transition: ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  padding-bottom: 2px;
}
.buttons {
  display: flex;
  margin-top: 15px;
  position: relative;
}

.facebook {
  display: flex;
  background: #305db8;
  border-radius: 3px;
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  margin: 0;
  padding: 14px 22px 14px 17px;
}
.text_fc {
  margin: 0;
}
.border_buttons::before {
  content: "";
  border-left: 1px solid #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
  padding-right: 17px;
}
.facebook:hover {
  background: #022263;
}
.buttons_link_fc {
  text-decoration: none;
  margin-left: 60px;
  height: 50px;
  color: #ffffff;
}
.social_network_icons {
  padding-right: 17px;
}
.google {
  display: flex;
  background: #df4a32;
  border-radius: 3px;
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  padding: 17px 40px 16px 16px;
  margin: 0;
}
.google:hover {
  background: #ab1f09;
}
.buttons_link_ge {
  text-decoration: none;
  margin-left: 4px;
  color: #ffffff;
}
.text_ge {
  margin: 0;
}
.social_network_icons_ge {
  padding-right: 7px;
}
.borders {
  display: flex;
}
.border_left {
  width: 152px;
  margin: 40px 0 0 58px;
  color: #f2f2f2;
}
.border_right {
  width: 155px;
  margin: 40px 58px 0 0;
  color: #f2f2f2;
}
.or {
  margin: 0;
  padding-top: 32px;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
}
.form_string {
  display: flex;
  flex-direction: column;
}
.form-field {
  width: 324px;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin: 15px auto 0 auto;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  outline: none;
  padding-left: 20px;
}
.form-field:focus {
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}
.checkbox-toggle {
  display: flex;
  margin: 12px 0 0 62px;
}
.checkbox-toggle input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: top;
  outline: none;
  transition: background 0.3s ease;
  background: url(../img/Vector\ 1.png) 0 0 no-repeat;
  cursor: pointer;
}

.checkbox-toggle input[type="checkbox"]:checked {
  background-image: url(../img/checkbox_empty.png);
}

.focused input[type="checkbox"] {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.checkbox-toggle input[type="checkbox"]:hover {
  filter: brightness(110%);
}

.checkbox-toggle input[type="checkbox"]:active {
  filter: brightness(80%);
}

.checkbox-toggle input[type="checkbox"]:disabled {
  color: #666;
  cursor: default;
}
.checkbox-toggle input[type="checkbox"]:disabled {
  filter: grayscale(100%);
  opacity: 0.6;
}
.agreement,
.agreement_link {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  text-decoration: none;
}
.agreement_link {
  color: #3cb878;
}
.agreement_link:hover {
  color: #01813f;
  border-bottom: 1px solid #01813f;
  transition: ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  padding-bottom: 2px;
}
.footer_form_button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
}

.button_create {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  width: 324px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.button_create:hover {
  background: #01813f;
}
