*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.image-to-show {
  width: 1000px;
  height: 500px;
  border-radius: 20px;
  margin: 0 auto;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#btn-stop{
  background: linear-gradient(170deg, rgba(200,6,6,1) 0%, rgba(177,3,3,1) 7%, rgba(168,17,0,1) 31%, rgba(217,7,7,1) 45%, rgba(204,54,0,0.9809057412027311) 64%, rgba(255,0,0,1) 86%);
}
#btn-play{
  background: linear-gradient(170deg, rgba(4,185,28,1) 0%, rgba(3,177,35,1) 7%, rgba(0,168,28,1) 31%, rgba(39,217,7,1) 45%, rgba(69,204,0,0.9809057412027311) 64%, rgba(75,168,15,1) 86%);
}
.btn{
  text-decoration: none;
  color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 50px;
}
.container-btn{
  display: flex;
  justify-content: center;
}
