.btn{
    width: 20%;
    padding: 10px 0 10px 0;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    &:not(:last-child){
        margin-right: 20px;
    }
    &:hover{
        opacity: 0.5;
        color: #000;
    }
}