.arrow__back{
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    font-size: 34px;
    color: green;
    &:hover{
        color: orange;
        transition: all 0.3s ease;
    }
}