.header{
    display: flex;
    background-color: #122538;
    justify-content: space-between;
    &__section{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        margin-left: 30px;
        padding: 10px 0 10px 0;
    }
    &__icons{
        display: flex;
        margin-right: 30px;
        justify-content: center;
        align-items: center;
    }
    &__favorite{
        position: relative;
    }
    &__counter{
        position: absolute;
        top: 2px;
        padding: 0 5px;
        right: 2px;
        font-size: 16px;
        color: white;
        border-radius: 50px;
        background-color: green;
    }
    &__basket{
        position: relative;
    }
}