.card{
    width: 300px;
    height: 370px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #4eff47;
    box-shadow: 4px 4px 4px 4px #4eff47;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__image{
        width: 200px;
        height: auto;
        margin: 20px 0;
    }
    &__img{
        display: flex;
        justify-content: end;
    }
    
    &__section{
        display: flex;
    }
    &__btn{
        color: wheat;
        background-color: #4eff47;
        border: none;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
    }
    &__footer{
        display: flex;
        justify-content: space-between;
    }
}

