<footer class="footer">
    <div class="footer__container">
        <div class="footer__content-section container">
            <h3 class="footer__title">- get in touch with us -</h3>
            <p class="footer__content">
                Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.
            </p>
            <div class="footer__social">
                <a href="https://uk.wikipedia.org/wiki/RSS">
                    <img class="footer__social--rss" src="@img/rss.png" alt="RSS icons">
                </a>
                <a href="https://ru.wikipedia.org/wiki/Facebook">
                    <img class="footer__social--face" src="@img/face.png" alt="Facebook icons">
                </a>
                <a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B2%D0%B8%D1%82%D1%82%D0%B5%D1%80">
                    <img class="footer__social--twiter" src="@img/twiter.png" alt="Twiter icons">
                </a>
                <a href="https://en.wikipedia.org/wiki/Dribbble">
                    <img class="footer__social--dribbble" src="@img/dribbble.png" alt="Dribbble icons">
                </a>
                <a href="https://ru.wikipedia.org/wiki/Pinterest">
                    <img class="footer__social--pinterest" src="@img/pinterest.png" alt="Pinterest icons">
                </a>
            </div>
            <ul class="footer__contacts">
                <li class="footer__contacts-item">
                    <a href="https://www.google.com.ua/maps/search/Moonshine+St.+14-05+Light+City/@50.4851493,30.4721233,14z?hl=ru" class="footer__contacts-link">Moonshine St. 14-05 Light City /</a>
                </li>
                <li class="footer__contacts-item">
                    <a href="tel:+00 (123) 456 78 90" class="footer__contacts-link">T. +00 (123) 456 78 90 /</a>
                </li>
                <li class="footer__contacts-item">
                    <a href="mailto:first.last@email.com" class="footer__contacts-link">first.last@email.com</a>
                </li>
            </ul>
        </div>
    </div>
</footer>