<header class="header container">
    <div class="header__menu-burger">
        <span class="header__menu-burger--span"></span>
    </div>
    <nav class="header__menu">
        <ul class="header__menu-list">
            <li class="header__menu-item">
                <a href="#" class="header__menu-link active">Home</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">About Us</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">Our Journal</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">Projects</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">news</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">features</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">contact</a>
            </li>
        </ul>
    </nav>
</header>