<section class="section container">
    <img src="@img/header-images.png" class="section__img" alt="main image">
    <div class="section__wrapper">
        <div class="section__post">
            <a href="#" class="section__post-title">- our Recent posts</a>
            <div class="section__post-container">
                <div class="section__post-cell">
                    <div class="section__post-grid">
                        <img src="@img/post1.png" width="160" height="140" alt="Tea">
                    <div class="section__post-content">
                        <h3 class="section__post-content--title">Aenean Adipiscing Etiam Vestibulum</h3>
                        <span class="section__post-comments">Photography, Journal   /   9 Comments</span>
                        <p class="section__post-description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                    </div>
                    <div class="section__post-grid">
                        <img src="@img/post2.png" width="160" height="140" alt="Tea">
                    <div class="section__post-content">
                        <h3 class="section__post-content--title">Aenean Adipiscing Etiam Vestibulum</h3>
                        <span class="section__post-comments">Photography, Journal   /   9 Comments</span>
                        <p class="section__post-description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                    </div>
                    <div class="section__post-grid">
                        <img src="@img/post3.png" width="160" height="140" alt="Tea">
                    <div class="section__post-content">
                        <h3 class="section__post-content--title">Aenean Adipiscing Etiam Vestibulum</h3>
                        <span class="section__post-comments">Photography, Journal   /   9 Comments</span>
                        <p class="section__post-description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                    </div>
                    <div class="section__post-grid">
                        <img src="@img/post4.png" width="160" height="140" alt="Tea">
                    <div class="section__post-content">
                        <h3 class="section__post-content--title">Aenean Adipiscing Etiam Vestibulum</h3>
                        <span class="section__post-comments">Photography, Journal   /   9 Comments</span>
                        <p class="section__post-description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="instagram">
    <div class="instagram__container container">
        <div class="instagram__title-container">
            <a href="#" class="instagram__title">- Latest Instagram Shots</a>
            <a href="#" class="instagram__title">go to our instagram page -</a>
        </div>
        <ul class="instagram__images-section">
            <li class="instagram__images-item">
                <img class="instagram__images" src="@img/bike.png" alt="BIKE">
            </li>
            <li class="instagram__images-item">
                <img class="instagram__images" src="@img/door.png" alt="DOOR">
            </li>
            <li class="instagram__images-item">
                <img class="instagram__images" src="@img/electric.png" alt="ELECTRIC">
            </li>
            <li class="instagram__images-item">
                <img class="instagram__images" src="@img/car.png" alt="CAR">
            </li>
        </ul>
    </div>
</section>