*,
*::after,
*::before {
  box-sizing: border-box;
}
h1 {
  margin: 0;
}
.container {
  font-family: "Open Sans", sans-serif;
  max-width: 1900px;
  background: #f2f2f2;
}
.navigation {
  background: #313131;
  display: flex;
  justify-content: left;
  width: 100%;
}
.background-image {
  padding-top: 163px;
  padding-bottom: 74px;
  background-image: url("../img/header-bg.jpeg");
  background-position: 0px -400px;
  background-attachment: fixed;
}
.logo-image {
  margin-left: 25px;
  margin-top: 25px;
}
.company {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #ffffff;
  margin-left: 25px;
}
.main-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
}
.menu-item-link {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 35px;
  color: #ffffff;
  margin-top: 10px;
}
.menu-item-link:hover {
  color: #14b9d5;
  border-bottom: 1px solid #14b9d5;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  padding-bottom: 5px;
}
.search {
  border: none;
  background: #000000;
}
.magnifier {
  margin: 25px;
}
.content {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  align-items: flex-end;
  text-align: center;
  color: #ffffff;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}
.buttons-item1 {
  list-style-type: none;
  background: #89ca62;
  border-radius: 5px;
  margin-right: 10px;
  padding: 15px 20px;
  cursor: pointer;
}
.buttons-item2 {
  list-style-type: none;
  background: #14b9d5;
  border-radius: 5px;
  margin-left: 10px;
  padding: 15px 20px;
  cursor: pointer;
}
.buttons-item-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  align-items: flex-end;
  text-align: center;
  color: #ffffff;
  padding: 10px 10px;
}
.title-text {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 49px;
}
.title-text {
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
}
.gallery-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 870px;
  width: 1250px;
  margin-top: 52px;
  margin: 0 auto;
}
.gallery-item-link {
  list-style-type: none;
  width: 370px;
  margin-top: 31px;
}
.item-link {
  text-decoration: none;
  text-align: center;
}
.subtitle {
  width: 370px;
  margin: 0;
  padding: 20px 16px 20px 14px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #353a3d;
}
.parallax {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 588px);
  margin-top: 74px;
  background-image: url(../img/parallax-bg.jpeg);
  background-position: 0 -200;
  background-attachment: fixed;
  grid-template-areas:
    "box-1 box-1 box-1 box-1"
    "box-2 box-2 box-2 box-2"
    "box-3 box-3 box-3 box-3"
    "box-4 box-4 box-4 box-4";
}

.title-parallax {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.border-parallax {
  background: #18b4cf;
  width: 60px;
  height: 3px;
  justify-self: center;
  align-self: center;
  border: none;
}
.box-1 {
  grid-area: box-1;
}
.box-2 {
  grid-area: box-2;
  justify-self: center;
  grid-column: 2/4;
  grid-row: 1;
  margin-top: 106px;
}
.box-3 {
  grid-area: box-2;
  justify-self: center;
  grid-column: 2/4;
  grid-row: 1;
  margin-top: 237px;
}
.box-4 {
  grid-area: box-4;
  justify-self: center;
  grid-column: 1/5;
  grid-row: 1;
  margin-top: 345px;
}
.sponsors-1 {
  padding-bottom: 10px;
}
.sponsors-1,
.sponsors-2,
.sponsors-3 {
  margin-right: 58px;
}
.latest-post {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 52px;
}
.about {
  padding-top: 51px;
  display: flex;
  justify-content: center;
}
.container_about {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  grid-template-rows: 259px;
  column-gap: 30px;
  row-gap: 45px;
  width: 1170px;
}
.item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  margin: 0;
  height: 259px;
}
.text-1 {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-right: 20px;
  background: #f9f7f7;
  width: 374px;
}

.item-2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  background: #f9f7f7;
  width: 277px;
  justify-self: end;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  font-weight: bold;
  height: 259px;
}

.description_header {
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #353a3d;
}
.text_description {
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #5b6469;
  text-align: right;
}
.container-about-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat (4, 1fr);
  column-gap: 30px;
  row-gap: 45px;
  width: 1170px;
}
.item-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  width: 544px;
  background: #f9f7f7;
}
.item-4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  width: 544px;
  justify-self: end;
  background: #f9f7f7;
  padding-right: 0;
}
.item-5 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  width: 544px;
  background: #f9f7f7;
}
.item-6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  justify-self: end;
  grid-row-end: 3;
  width: 544px;
  background: #f9f7f7;
}

.item-7 {
  grid-row-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
  background: #f9f7f7;
  width: 277px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  font-weight: bold;
  height: 259px;
}
.item-8 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
  display: grid;
  justify-self: end;
  height: 259px;
}
.copyright {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px;
  margin-top: 77px;
  background: #000000;
}
.copyright-link {
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  margin: 0;
  text-align: end;
  padding: 30px 75px;
  text-decoration: none;
}
.footer-logo {
  justify-self: center;
  padding-top: 25px;
  padding-left: 100px;
}

#arrowUp {
  width: 60px;
  line-height: 60px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #ddd;
  color: #18b4cf;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  border-radius: 10px;
}
#arrowUp:hover {
  background-color: #000;
  color: #18b4cf;
}
.buttons_click {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
#slide {
  margin: 0;
  padding: 10px 15px;
  border: none;
  background-color: #ddd;
  border-radius: 10px;
  cursor: pointer;
  color: #ed0202;
}
