.btn{
    color: white;
    background: none;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
    &:hover{
        opacity: 0.5;
        color: #000;
    }
}
