* {
  box-sizing: border-box;
}

#images-wrapper {
  position: relative;
}

.slide {
  position: absolute;
  left: 250px;
  top: 0px;
  width: 1000px;
  height: 600px;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
  border-radius: 10px;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.controls {
  padding: 10px 30px;
  background-color: aqua;
  color: black;
  border-radius: 10%;
  border: none;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 630px;
  left: 700px;
}
