.header{
    display: flex;
    background-color: #122538;
    justify-content: space-between;
    &__section{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        margin-left: 30px;
        padding: 10px 0 10px 0;
    }
    &__icons{
        display: flex;
        margin-right: 30px;
        justify-content: center;
        align-items: center;
    }
    &__favorite{
        position: relative;
        margin-right: 20px;
    }
    &__counter{
        position: absolute;
        top: -2px;
        padding: 0 5px;
        right: -2px;
        font-size: 16px;
        color: white;
        border-radius: 50px;
        background-color: green;
    }
    &__basket{
        position: relative;
    }
    &__list{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
    &__item{
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 21px;
        margin-top: 20px;
        &:hover{
           color: orange;
           transition: all .3s ease;
        }
    }
}
