*,
*::after,
*::before {
  box-sizing: border-box;
}
.page-body {
  margin: 0;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}
.navigation {
  width: 830px;
  margin: 0 auto;
  display: inline;
}
.navigation .navigation-menu {
  text-align: center;
}
.navigation .navigation-menu-list {
  display: inline-block;
  list-style-type: none;
}

.menu-list {
  color: red;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}
.menu-text {
  padding: 10px 70px 10px 0;
}
img {
  width: 100%;
  margin: 0;
}
.heading {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #373737;
  font-style: normal;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  padding-top: 49px;
}
.text_discription {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin: 0 60px 28px 60px;
}
.button_link {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 84px;
}
.button_link-text {
  text-decoration: none;
  padding: 18px 43px;
  background: #ff0000;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.footer {
  display: inline-block;
  text-align: end;
  width: 100%;
}
.footer_text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  padding-right: 105px;
  padding-top: 40px;
}
