.tabs {
  width: 1160px;
  height: 240px;
  margin: 0 auto;
}
.tabs_item_caption {
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: inherit;
  color: #937341;
}

.tabs_item_caption:after {
  content: "";
  display: table;
  clear: both;
}
.tabs_item_caption li {
  width: 191px;
  height: 73px;
  display: flex;
  background-color: #000;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}
.tabs_item_caption .tabs_item:not(.active) {
  cursor: pointer;
}
.tabs_item_caption .active {
  background: #937341;
  color: #000;
  position: relative;
}

.tabs__content {
  display: none;
  background: #fff;
  margin-top: 30px;
}
.tabs__content.active {
  display: block;
}
.textFromTab {
  text-align: center;
  font-size: 18px;
}
