.buttonJS {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  text-align: center;
  padding: 20px 50px;
  align-items: center;
  background-color: yellow;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
