*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    background-image: url('../img/TW-bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.container{
    background: rgb(255,255,255, 0.4);
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
}
.logo{
    background-color: #1da1f2;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.logo-img{
    position: absolute;
    top: 20px;
    left: 20px;
    fill: #fff;
}
.wrapper{
    padding: 0 10px 20px 10px;
}
.conteiner-logo{
    display: flex;
}
.header-title{
    padding: 20px 0 0 30px;
    font-size: 26px;
    line-height: 16px;
    color: #000;
}
.header{
    display: flex;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
}
.container-user{
    padding: 10px 10px 0 0;
}
.user{
    fill: #1da1f2;
}
.user:hover{
    fill: #000;
}
.count{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.num{
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 4px;
}
.text{
    font-size: 12px;
    padding-left: 5px;
}
.div{
    background: rgb(255,255,255, 0.6);
    padding-bottom: 100px;
    border-radius: 0 0 5px 5px;
}
.content{
    border-radius: 5px;
}
.card{
    background: rgb(200,200,200, 0.9);
    border-radius: 5px;
    margin-top: 20px;
}
.card-img{
    border-radius: 10px;
}
.div{
    display: flex;
    justify-content: end;
}
.btn-add{
    border: none;
    background-color: #1da1f2;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin:10px 10px 0 0;
    
}
#root{
    
}
.container-form{
    max-width: 500px;
    display: none;
    flex-direction: column;
    background: rgba(38, 2, 115, 0.586);
    border-radius: 10px;
    margin: 60px auto 0;
    overflow: hidden;
    position: relative;
}
#form{
    display: flex;
    flex-direction: column;
}
.form-label{
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
#postTitle{
    margin: 0 20px;
    height: 40px;
}
#postText{
    margin: 0 20px;
    height: 150px;
}
.btn-container{
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center
}
.btn-close{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: #1da1f2;
}
:root {
	--hue: 223;
	--bg1: hsl(var(--hue),10%,90%);
	--bg2: hsl(var(--hue),10%,80%);
	--fg1: hsl(var(--hue),10%,10%);
	--fg2: hsl(var(--hue),10%,20%);
	--primary1: hsl(var(--hue),90%,55%);
	--primary2: hsl(var(--hue),90%,45%);
}

.btn-submit {
	background-color: transparent;
	border-radius: 1.5em;
	display: block;
	position: relative;
	width: 7.5em;
	height: 3em;
	transition: width 0.3s ease-in-out;
    border: none;
    cursor: pointer;
}
.btn-submit:not(:disabled):active {
	transform: translateY(0.1em);
}
.btn__subtext {
	background-color: var(--primary1);
	border-radius: inherit;
	color: hsl(0,0%,100%);
	display: inline-block;
	padding: 0.75em 1.5em;
	transition:
		background-color 0.15s linear,
		color 0.15s 0.3s ease-in-out;
	width: 100%;
}
.btn-submit:not(:disabled):focus .btn__subtext,
.btn-submit:not(:disabled):hover .btn__subtext {
	background-color: var(--primary2);
}
.btn__progress {
	overflow: visible;
	position: absolute;
	top: 0;
	left: 0;
	width: 3em;
	height: 3em;
	visibility: hidden;
}
.btn__progress-track {
	r: 12px;
	stroke: var(--bg2);
	stroke-width: 24;
}
.btn__progress-fill {
	stroke: var(--primary1);
	stroke-dashoffset: 125.66;
}
.btn__progress-check {
	stroke: hsl(0,0%,100%);
	stroke-dashoffset: 34;
}

.btn--running,
.btn--done {
	outline: none;
	pointer-events: none;
	width: 3em;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.btn--running .btn__subtext,
.btn--done .btn__subtext {
	color: transparent;
	transition:
		background-color 0.3s ease-in-out,
		visibility 0.3s steps(1);
}
.btn--running .btn__progress,
.btn--done .btn__progress {
	visibility: visible;
}
.btn--running .btn__subtext {
	background-color: var(--bg2);
	visibility: hidden;
}
.btn--running .btn__progress {
	transition: visibility 0.3s 0.3s steps(1,start);
}
.btn--running .btn__progress-track {
	r: 20px;
	stroke-width: 8;
	transition:
		r 0.3s 0.3s ease-in-out,
		stroke-width 0.3s 0.3s ease-in-out;
}
.btn--running .btn__progress-fill {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 2s 0.6s linear;
}

.btn--done .btn__progress-track {
	stroke: var(--primary1);
	transition:
		r 0.3s ease-in-out,
		stroke-width 0.3s ease-in-out;
}
.btn--done .btn__progress-check {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 0.3s 0.3s ease-out;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg1: hsl(var(--hue),10%,10%);
		--bg2: hsl(var(--hue),10%,20%);
		--fg1: hsl(var(--hue),10%,90%);
		--fg2: hsl(var(--hue),10%,80%);
	}
}

.btn-delete{
    display: flex;
    justify-content: end;
}
.delete{
    background-color: red;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px 10px 0 0;
    cursor: pointer;
}
.card-name{
    color: #000;
    font-size: 22px;
}
.card-email{
    text-decoration: none;
}
.card-title{
    font-size: 22px;
}
.loader {
  position: relative;
}
.loader:before, .loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
}
.loader:before {
  width: 1em;
  height: 1em;
  border: 0.1em solid currentcolor;
  border-radius: 50%;
  color: #1da1f2;
  -webkit-animation: loader-36-1 1.15s infinite -0.3s;
          animation: loader-36-1 1.15s infinite -0.3s;
}
.loader:after {
  right: 0;
  bottom: 0;
  margin: 12px 12px;
  width: 0;
  height: 0;
  color: #1da1f2;
  border: 0.1em solid currentcolor;
  border-radius: 50%;
  transform: translate(-0.2em);
  -webkit-animation: loader-36-2 1.6s infinite steps(1);
          animation: loader-36-2 1.6s infinite steps(1);
}

@-webkit-keyframes loader-36-1 {
  to {
    transform: rotateX(180deg);
  }
}

@keyframes loader-36-1 {
  to {
    transform: rotateX(180deg);
  }
}
@-webkit-keyframes loader-36-2 {
  0% {
    background: rgba(38, 2, 115, 0.0);
  }
  25% {
    background: rgba(38, 2, 115, 0.9);
  }
  50% {
    box-shadow: 0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0.2em 0 0 currentcolor, 0.4em 0 0 currentcolor;
  }
}
@keyframes loader-36-2 {
  0% {
    background: rgba(38, 2, 115, 0.0);
  }
  25% {
    background: rgba(38, 2, 115, 0.9);
  }
  50% {
    box-shadow: 0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0.2em 0 0 currentcolor, 0.4em 0 0 currentcolor;
  }
}
.box {
  display: inline-block;
  width: 100px;
  height: 100;
  border-radius: 3px;
  font-size: 30px;
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  position: relative;
  vertical-align: top;
  transition: 0.3s color, 0.3s border, 0.3s transform, 0.3s opacity;
}