*,
*::after,
*::before {
  box-sizing: border-box;
}
.container {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 0;
  background: var(--color-secondary);
}
.navigation {
  width: 830px;
  margin: 0 auto;
  display: inline;
}
.navigation .navigation-menu {
  text-align: center;
}
.navigation .navigation-menu-list {
  display: inline-block;
  list-style-type: none;
}

.menu-list {
  color: var(--nav-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}
.menu-text {
  padding: 10px 70px 10px 0;
}
img {
  width: 100%;
  margin: 0;
}
.heading {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: var(--font-color);
  font-style: normal;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  padding-top: 49px;
}
.text_discription {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: var(--font-color);
  margin: 0 60px 28px 60px;
}
.button_link {
  display: inline-block;
  width: 100%;
  margin: 0;
  justify-content: center;
  text-align: center;
  margin-top: 84px;
}
.buttonText {
  text-decoration: none;
  padding: 18px 43px;
  background: var(--button-bg);
  display: inline-block;
  border-radius: 5px;
  color: var(--button-text);
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.footer {
  display: inline-block;
  text-align: end;
  width: 100%;
}
.footer h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: var(--font-color);
  padding-right: 105px;
  padding-top: 40px;
}

.theme-light {
  --nav-color: rgb(255, 0, 0);
  --font-color: #000;
  --button-bg: rgb(255, 0, 0);
  --button-text: #fff;
}
.theme-dark {
  --color-secondary: #2a2c2d;
  --font-color: #fff;
  --nav-color: #01b5b5;
  --button-bg: #01b5b5;
  --button-text: #000;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container button {
  color: var(--font-color);
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch .input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url("https://i.ibb.co/FxzBYR9/night.png");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(24px);
  background: white url("https://i.ibb.co/7JfqXxB/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
