.status{
    color: lime;
}
.wrapper{
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background-color: red;
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.item1{
    font-size: 20px;
    list-style-type: none;
    margin-bottom: 10px;
}
.item{
    list-style: none;
    padding-bottom: 5px;
}
.text{
    font-size: 30px;
}
.btn{
    padding: 20px 40px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: blue;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: yellow;
}
.btn:hover{
    transition: all .5s ease-in-out;
    background-color: yellow;
    color: blue;
}
.root{
    display: flex;
    flex-direction: column;
}
.container {
    position: absolute;
    top: 20px;
    left: 50%;

  }
  .container .button {
    width: 200px;
    text-align: center;
    background: blue;
    padding: 20px;
    box-sizing: border-box;
    color: yellow;
    border: 4px solid yellow;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
  .container .button:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 20px;
    right: 0;
    width: 100px;
    height: 20px;
    background: yellow;
    border-radius: 50px;
  }
  .container .button:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100px;
    height: 20px;
    background: yellow;
    border-radius: 50px;
  }
  .container .button .drops {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 22px;
    left: 40px;
    width: 15px;
    height: 15px;
    background: yellow;
    border-radius: 50px;
    transition: 0.2s;
  }
  
  .button:hover .drops {
    animation: ooze-drop 1.5s ease-in-out forwards;
  }
  
  .button:hover:after {
    animation: ooze-mid 1s ease-in-out forwards;
  }
  
  .button:hover:before {
    animation: ooze-top 0.8s ease-in-out forwards;
  }
  
  @keyframes ooze-top {
    0% {
      width: 100px;
    }
    100% {
      width: 230px;
    }
  }
  @keyframes ooze-mid {
    0% {
      width: 100px;
    }
    100% {
      width: 220px;
    }
  }
  @keyframes ooze-drop {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-80px);
    }
  }
  .preloader {
    display: none;
    position: absolute;
    width: 4rem;
    height: 4rem;
    border: 0.4rem solid #2085e6;
    border-radius: 100%;
  }
  .preloader:before,
  .preloader:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.2rem 0 0 -0.2rem;
    border-bottom: 0.4rem solid #2085e6;
    border-radius: 0.6rem;
    -webkit-transform-origin: 0.2rem center;
  }
  .preloader:before {
  /* hour hand */
    width: 30%;
    -webkit-animation: rotate 10s linear infinite;
  }
  .preloader:after {
  /* minute hand */
    width: 40%;
    background-color: #2085e6;
    -webkit-animation: rotate 1s linear infinite;
  }
  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  /* for demo purposes only — not required */
  .preloader {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
  }
  
  .glowing {
    position: relative;
    min-width: 700px;
    height: 550px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
  }
  
  .glowing:nth-child(even) {
    transform-origin: left;
  }
  
  @keyframes colorChange {
    0% {
      filter: hue-rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
  }
  
  .glowing span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
  }
  
  .glowing span:nth-child(3n + 1)::before {
    background: rgba(134,255,0,1);
    box-shadow: 0 0 20px rgba(134,255,0,1),
      0 0 40px rgba(134,255,0,1),
      0 0 60px rgba(134,255,0,1),
      0 0 80px rgba(134,255,0,1),
      0 0 0 8px rgba(134,255,0,.1);
  }
  
  .glowing span:nth-child(3n + 2)::before {
    background: rgba(255,214,0,1);
    box-shadow: 0 0 20px rgba(255,214,0,1),
      0 0 40px rgba(255,214,0,1),
      0 0 60px rgba(255,214,0,1),
      0 0 80px rgba(255,214,0,1),
      0 0 0 8px rgba(255,214,0,.1);
  }
  
  .glowing span:nth-child(3n + 3)::before {
    background: rgba(0,226,255,1);
    box-shadow: 0 0 20px rgba(0,226,255,1),
      0 0 40px rgba(0,226,255,1),
      0 0 60px rgba(0,226,255,1),
      0 0 80px rgba(0,226,255,1),
      0 0 0 8px rgba(0,226,255,.1);
  }
  
  .glowing span:nth-child(3n + 1) {
    animation: animate 10s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 2) {
    animation: animate-reverse 3s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 3) {
    animation: animate 8s alternate infinite; 
  }
  
  @keyframes animate {
    0% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-reverse {
    0% {
      transform: rotate(360deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    100% {
      transform: rotate(0deg);
    }
  }
  