.form{
    display: flex;
    background-color: #008302;
    width: 50%;
    border-radius: 20px;
    margin: 0 auto 15px auto;
    &__title{
        font-size: 28px;
        color: #fff;
        font-weight: 500;
        text-align: center;
        width: 100%;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    &__card-price{
        font-size: 20px;
        color: #fff;
        text-align: center;
    }
    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}