.page-body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}
.container {
  width: 1280px;
}

.header-logo {
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 94px;
  align-items: flex-end;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
.header-logo-color {
  color: #00ffff;
}

.navigation-menu {
  display: flex;
  justify-content: center;
  background-color: #35444f;
  height: 72px;
  list-style-type: none;
  margin-top: 38px;
}
.navigation-menu-item {
  border: 1px solid #fff;
  text-align: center;
}
.navigation-menu-item:hover {
  background-color: #222f3a;
}
.navigation-menu-item-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  display: inline-block;
  padding: 20px 40px;
}
.conteiner-content {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
.menu-left-container {
  min-width: 345px;
  height: 385px;
  border: 1px solid #000;
  margin-right: 50px;
}
.left-menu {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  padding: 0;
  margin: 0;
}
.left-menu-item:hover {
  background: #dbdbdb;
}
.left-menu-item {
  padding: 25px 0 25px 20px;
}
.left-menu-item-link {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;
  display: inline-block;
  align-items: center;
  color: #485863;
  text-decoration: none;
}
.left-menu-item-link:hover {
  color: #000;
  padding-left: 40px;
  display: inline-block;
}
.image-conainer {
  width: 885px;
  border: 1px solid #000;
  height: 530px;
  display: flex;
  padding-bottom: 20px;
}
img {
  transition: 1s;
  padding: 100px 282px 68px;
}
img:hover {
  transform: scale(1.3);
}
.text-description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.footer-wrapper {
  display: flex;
  width: 1280px;
  height: 69px;
  background: rgba(99, 105, 110, 0.48);
}
.wrapper-menu {
  display: flex;
  justify-content: start;
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  align-items: center;
  color: #0c1927;
  width: 880px;
  margin: 0;
}
.wrapper-menu-item {
  margin-top: 25px;
  margin-left: 20px;
}
.wrapper-menu-item-link {
  text-decoration: none;
  color: #0c1927;
}

.wrapper-menu-item-link:hover {
  border-bottom: 1px solid #00ffff;
  color: #00ffff;
  padding-bottom: 5px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.copyright {
  width: 190;
  height: 69;
  margin-left: 80px;
  text-align: center;
}
.copyright-symbol {
  margin-top: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #010101;
}
