.footer__section {
  background-color: #000;
}
.text__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title__footer {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-transform: uppercase;
  color: #fefefe;
  margin: 65px 0 0 0;
}
.discription__footer {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  margin: 20px 0 0 0;
  color: #fefefe;
  max-width: 70%;
  @media (max-width: 320px) {
    font-size: 12px;
    line-height: 20px;
    flex-direction: column;
    max-width: 90%;
    margin-top: 8px;
  }
}
.container__icon {
  padding-top: 35px;
  display: flex;
  justify-content: center;
}
.container__links {
  padding-top: 35px;
  padding-bottom: 70px;
}
.footer__links {
  @extend %list-reset;
  display: flex;
  justify-content: center;
  @media (max-width: 320px) {
    flex-direction: column;
    text-align: center;
  }
}
.footer__links--item {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  color: #b9b9b9;
  margin-right: 15px;
}
#apple,
#twitter,
#github,
#facebook,
#instagram {
  font-size: 10px;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 2px 1px 2px #00000080,
    2px 2px 2px #00000080, 2px 2px 2px #00000080, inset 0px 0px 2px #00000080,
    inset 0px 0px 5px #00000080, inset 0px 0px 2px #00000080,
    inset 0px 0px 5px #00000080;
  border-radius: 50%;
  padding: 11px 12px;
  margin: 0 6px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 5px #0072ff, 0 0 3px #0072ff, 0 0 10px #0072ff,
    0 0 15px #0072ff;
}
#twitter {
  animation-delay: 0.3s;
}
#facebook {
  animation-delay: 0.7s;
}
#github {
  animation-delay: 0.1s;
}
@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
