.header__menu {
  width: 80%;
  margin: 0 auto;
  @media (max-width: 320px) {
    display: none;
  }
}

.header__list {
  display: flex;
  justify-content: space-around;
  @extend %list-reset;
  padding-top: 45px;
}
.header__link {
  text-decoration: $link;
  font-weight: normal;
  font-size: 11px;
  line-height: 22px;
  align-items: center;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: $primary-color;
  &:hover {
    color: #57a4a4;
  }
}
.container {
  margin: 0;
}
.image__header {
  padding-top: 50px;
  width: 100%;
}
@media (max-width: 768px) {
  .burger-menu_button {
    position: fixed;
    top: 10px;
    right: 0;
    z-index: 30;
    width: 35px;
    height: 30px;
    background-color: rgba(0, 0, 0);
    transition: 0.4s;
    &:hover .burger-menu_lines {
      filter: brightness(0.7);
    }
  }

  .burger-menu_lines::before,
  .burger-menu_lines::after,
  .burger-menu_lines {
    position: absolute;
    width: 17px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
  }
  .burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &::before {
      content: "";
      top: -5px;
    }
    &::after {
      content: "";
      top: 5px;
    }
  }

  .burger-menu_active .burger-menu_lines {
    background-color: transparent;
    &::before {
      top: 0;
      transform: rotate(45deg);
    }
    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }

  .header__menu {
    margin-top: 40px;
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    height: 208px;
    background-color: #f5f5f5;
    overflow-y: auto;
    right: -100%;
    transition: 0.8s;
  }
  .burger-menu_active .header__menu {
    right: 0;
    transition: 0.4s;
  }
  .header__list {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
  }
  .header__link {
    padding: 0 0 8px 15px;
    font-weight: normal;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    color: #4e4e4e;
    &:hover {
      filter: brightness(0.9);
    }
  }
}
