.section__instagram {
  background-color: rgb(245, 245, 220);
  margin-top: 70px;
  @media (max-width: 320px) {
    margin-top: 40px;
  }
}
.instagram__page {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}
.instagram__shots {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $primary-color;
  margin: 0;
  @media (max-width: 320px) {
    padding-left: 15px;
  }
}
.link__instagram--page {
  @extend %list-reset;
  font-weight: bold;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: $primary-color;
  @media (max-width: 320px) {
    display: none;
  }
}

.container__image--instagram {
  padding: 25px 0 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  @media (max-width: 767px) {
    .item3 {
      display: none;
    }
    @media (max-width: 320px) {
      .item2,
      .item1 {
        display: none;
        margin: 15px 0 40px 0;
      }
    }
  }
}

.image__item .image__instagram {
  max-width: 100%;
}
.item1,
.item2,
.item3 {
  padding-left: 20px;
}
