.container {
  margin: 0;
}
.title__section {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-transform: uppercase;
  color: $primary-color;
  @extend %list-reset;
  padding-top: 65px;
  @media (max-width: 320px) {
    padding-top: 40px;
  }
}
.container__post {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-row-gap: 30px;
  padding-top: 25px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 20px;
  }
}

.section__post {
  display: flex;
  margin: 0;
  @media (max-width: 320px) {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .section__post--none {
    display: none;
  }
}

.section__title,
.section__review,
.text__description {
  margin: 0;
}
.section__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  color: $primary-color;
  padding-left: 20px;
  @media (max-width: 320px) {
    font-size: 12px;
  }
}
.section__review {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  align-items: center;
  color: #7c7c7c;
  padding-left: 20px;
  @media (max-width: 320px) {
    font-size: 11px;
  }
}
.text__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  color: $primary-color;
  padding-left: 20px;
  @media (max-width: 320px) {
    display: none;
  }
}
@media (max-width: 320px) {
  .images__post {
    padding-left: 20px;
  }
}
