.tab {
  overflow: hidden;
  background-color: #23201d;
  color: #937341;
  display: flex;
  justify-content: center;
}
.tab button {
  padding: 30px;
  background-color: #23201d;
  color: #937341;
  cursor: pointer;
  border: none;
}

.tab button.active {
  background-color: #937341;
  color: #23201d;
}
.tabcontent {
  display: none;
  text-align: center;
  font-size: 24px;
}
