.container {
  background: #3a4965;
  width: 1192px;
  height: 736px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Arimo", sans-serif;
}
.table_container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 1143px;
  height: 684px;
}
.title {
  background: #fafafa;
  width: 313px;
  height: 159px;
}

.text {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #484848;
  margin: 0;
}
.sub-text {
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #484848;
  margin-top: 2px;
}
.color-green {
  background: #89c331;
  width: 284px;
  height: 73px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.color-red {
  width: 283px;
  height: 73px;
  background: #f04a56;
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.color-turquoise {
  width: 277px;
  height: 73px;
  background: #20807c;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.prise {
  width: 280px;
  height: 89px;
  background: #fafafa;
  position: relative;
}
.prise-1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 28px;
  width: 128px;
  text-transform: uppercase;
  color: #484848;
  margin: 0;
  position: absolute;
  left: 33px;
  top: 26px;
}
.cent {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #484848;
  margin: 0;
  position: absolute;
  left: 130px;
  top: 2px;
}
.month {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  width: 136px;
  text-transform: uppercase;
  color: #484848;
  margin: 0;
  position: absolute;
  top: 34px;
  left: 130px;
}
.box1 {
  background: #f2f2f2;
  width: 313px;
  height: 72px;
}
.section-1,
.section-2,
.section-3,
.section-4 {
  margin: 0;
}

.section_text_box {
  margin: 0;
}
.section-1 {
  display: flex;
  justify-content: center;
  padding-top: 28px;
}
.section_text_box {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #484848;
  padding: 6px 0 0 4px;
}
.section-2,
.section-3,
.section-4 {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #484848;
}
.box-2 {
  width: 313px;
  height: 72px;
  background: #e3e3e3;
}
.box-3 {
  width: 280px;
  height: 72px;
  background: #f2f2f2;
}
.box-4 {
  width: 839px;
  height: 72px;
  background: #e3e3e3;
}
.section1 {
  width: 313px;
  background: #e3e3e3;
  height: 82px;
}
.section2 {
  width: 313px;
  background: #f2f2f2;
  height: 82px;
}
.section3 {
  width: 313px;
  background: #f2f2f2;
  height: 82px;
}
.section4 {
  width: 313px;
  background: #e3e3e3;
  height: 82px;
}
.buttons {
  width: 192px;
  height: 51px;
  background: #484848;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 45px;
}
.buttons1 {
  width: 192px;
  height: 51px;
  background: #89c331;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 45px;
}
.buttons2 {
  width: 192px;
  height: 51px;
  background: #f04a56;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 45px;
}
.buttons3 {
  width: 192px;
  height: 51px;
  background: #20807c;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 45px;
}

.buttons_text {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
